$main-color: #161e35;
$accent-color: #3071e7;
$second-color: #a6b2ec;
$dark: #080c25;
$light: #fff;
$success: green;
$danger: red;
$main-font: "Raleway", sans-serif;
$logo-font: "Architects Daughter", cursive; ;