.breadcrumbs {
  margin-bottom: 40px;
  margin-top: 40px;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  &__link {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    text-decoration: none;
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 5px;
      width: 6px;
      height: 10px;
      background-image: url(../images/Back.svg);
      color: #c4c4c4;
      z-index: 1;
    }
    &:last-child()::after {
      display: none;
    }
  }

}